<main class="tasks">
  <div class="task-title">
    <h3>Current Tasks</h3>
  </div>
  <div class="task-input">
    <div class="task-input-info">
      <h5 class="desc">Task description</h5>
      <h5 class="desc">Priority</h5>
    </div>
    <form ng-submit="home.addTask()">
      <input ng-model="newTaskDesc" placeholder="Enter new task" />
      <select ng-model="priority">
        <option value="" selected hidden>Select priority</option>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
      </select>
      <button type="submit">Add</button>
    </form>
  </div>
  <div class="task-list">
    <div ng-repeat="task in home.tasks">
      <ul ng-hide="home.isExpired(task)">
        <span>{{ task.task }}</span>
        <i class="icon ion-checkmark-circled"
            ng-show="home.isActive(task)"
            ng-click="home.toggleState(task)">
        </i>
        <i class="icon ion-checkmark-circled"
            ng-show="!home.isActive(task)"
            ng-click="home.toggleState(task)"
            style="color:#00DA00">
        </i>
      </ul>
    </div>
  </div>
</main>
